<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
       xmlns:context="http://www.springframework.org/schema/context">

<bean id="triangle" class="beanFactory.lesson14.Triangle" >
    <!--<property name="pointA" ref="point1" />-->
    <property name="pointB" ref="point2" />
    <property name="pointC" ref="point3" />
</bean>
    <bean id="circle" class="beanFactory.lesson14.Circle" >


    </bean>

    <bean id="point1" class="beanFactory.lesson14.Point" >
        <property name="x" value="0" />
        <property name="y" value="0" />
    </bean>
    <bean id="point2" class="beanFactory.lesson14.Point" >
        <qualifier value="center" />
        <property name="x" value="10" />
        <property name="y" value="20" />
    </bean>
    <bean id="point3" class="beanFactory.lesson14.Point" >
        <property name="x" value="35" />
        <property name="y" value="55" />
    </bean>
    <bean id="point4" class="beanFactory.lesson14.Point" >
        <property name="x" value="74" />
        <property name="y" value="47" />
    </bean>

    <!--<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />-->
    <!--<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />-->
    <context:annotation-config />
    <context:component-scan base-package="beanFactory.lesson14" />


    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource" >
        <property name="basenames" >
            <list>
                <value>myMessage</value>
            </list>
        </property>
    </bean>

</beans>